.popular-artist-songs {
  padding: 15px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(--dark-bg);
  margin-bottom: 16px;
  max-width: 100%;
}

.popular-artist-songs .top-buttons {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 18px;
  margin-bottom: 28px;
}

.popular-artist-songs .top-buttons .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: #fff;
  color: var(--dark-bg);
  border-radius: 50px;
  gap: 8px;
}

.popular-artist-songs .top-buttons .shuffle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: #fff;
  color: var(--dark-bg);
  border-radius: 50px;
  gap: 8px;
}

.popular-artist-songs .top-buttons .play-button:hover,
.popular-artist-songs .top-buttons .shuffle-button:hover {
  cursor: pointer;
}

.popular-artist-songs .top-buttons .follow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: var(--dark-bg);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  gap: 8px;
}

.popular-artist-songs .top-buttons .follow-button:hover {
  cursor: pointer;
}

.popular-artist-songs .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 15px;
}

.popular-artist-songs .song-list {
  width: 100%;
}

.popular-artist-songs .song-list .item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color 0.15s ease-in-out;
  padding: 8px 0;
}

.popular-artist-songs .song-list .item h4 {
  font-size: 15px;
}

.popular-artist-songs .song-list .item:hover {
  background-color: var(--dark-bg-hover);
}

.popular-artist-songs .song-list .item .number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: 40px;
  color: var(--light);
}

.popular-artist-songs .song-list .item .song-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.popular-artist-songs .song-list .item .song-info .artist-album-info {
  display: flex;
  gap: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popular-artist-songs .song-list .item .song-img {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 57px;
  height: 42px;
}

.popular-artist-songs .song-list .item .song-img img {
  height: 42px;
  width: 42px;
}

.popular-artist-songs .song-list .item .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 41.5px;
  width: 43px;
  height: 43px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.popular-artist-songs .song-list .item:hover .play-button {
  opacity: 1;
  cursor: pointer;
}

.popular-artist-songs .song-list .item .pause-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 41.5px;
  width: 43px;
  height: 43px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.popular-artist-songs .song-list .item .song-title {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 270px;
  max-width: 500px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 16px;
}

.popular-artist-songs .song-list .item .artist-name {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 250px;
  padding-right: 10px;
  color: var(--light);
  font-size: 16px;
}

.popular-artist-songs .song-list .item .played-count {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 250px;
  padding-right: 10px;
  color: var(--light);
  font-size: 16px;
}

.popular-artist-songs .song-list .item .album-name {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 250px;
  padding-right: 10px;
  color: var(--light);
  font-size: 16px;
}

.popular-artist-songs .song-list .item .duration {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-shrink: 0;
  flex-basis: 60px;
  margin-right: 20px;
  color: var(--light);
  font-size: 16px;
}

.popular-artist-songs .song-list .see-more {
  display: flex;
  width: fit-content;
  margin-top: 12px;
  margin-left: 6px;
}

.popular-artist-songs .song-list .see-more h4 {
  font-weight: bold;
  cursor: pointer;
}

.popular-artist-songs .song-list .see-more:hover h4 {
  text-decoration: underline;
}

@media screen and (max-width: 1600px) {
  .popular-artist-songs .song-list .item .song-title {
    flex-shrink: 0;
  }

  .popular-artist-songs .song-list .item .played-count,
  .popular-artist-songs .song-list .item .album-name,
  .popular-artist-songs .song-list .item .duration {
    flex-shrink: 1;
  }
}

@media screen and (max-width: 1280px) {
  .popular-artist-songs .header {
    margin-bottom: 14px;
  }

  .popular-artist-songs .header h2 {
    font-size: 18px;
  }

  .popular-artist-songs .header h4 {
    font-size: 12px;
  }

  .popular-artist-songs .song-list .item .song-img {
    flex-basis: 52px;
    height: 40px;
  }

  .popular-artist-songs .song-list .item .song-img img {
    width: 37px;
    height: 37px;
  }

  .popular-artist-songs .song-list .item .played-count {
    flex-basis: 0;
    display: none;
  }

  .popular-artist-songs .song-list .item .song-title,
  .popular-artist-songs .song-list .item .artist-name {
    flex-shrink: 1;
  }

  .popular-artist-songs .song-list .item .album-name {
    flex-shrink: 2;
  }

  .popular-artist-songs .song-list .item .number,
  .popular-artist-songs .song-list .item .song-title,
  .popular-artist-songs .song-list .item .artist-name,
  .popular-artist-songs .song-list .item .played-count,
  .popular-artist-songs .song-list .item .album-name,
  .popular-artist-songs .song-list .item .duration {
    font-size: 14px;
  }
}

@media screen and (max-width: 950px) {
  .popular-artist-songs .song-list .item .artist-name {
    flex-shrink: 1;
  }
}

@media screen and (max-width: 900px) {
  .popular-artist-songs .song-list .item .song-img {
    flex-basis: 47px;
    height: 35px;
  }

  .popular-artist-songs .song-list .item .song-img img {
    width: 32px;
    height: 32px;
  }

  .popular-artist-songs .song-list .item .number,
  .popular-artist-songs .song-list .item .song-title,
  .popular-artist-songs .song-list .item .artist-name,
  .popular-artist-songs .song-list .item .played-count,
  .popular-artist-songs .song-list .item .album-name,
  .popular-artist-songs .song-list .item .duration {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .popular-artist-songs .song-list .item .artist-name {
    flex-basis: 200px;
  }

  .popular-artist-songs .song-list .item .song-title {
    flex-basis: 220px;
  }

  .popular-artist-songs .song-list .item .song-title,
  .popular-artist-songs .song-list .item .duration {
    flex-shrink: 0;
  }
}