@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* componenent wrapper */
  .component-wrapper {
    background-color: theme("colors.gray-dark");
    color: theme("colors.white");
    width: 100%;
    padding: 12px;
    @apply w-full;

    @screen md {
      padding: 16px
    }
  }

  /* end of component wrapper */

  /* button styles */
  .default-button-style {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 14px;
    border-radius: 24px;
    font-size: 16px;
    line-height: 24px;

    @screen md {
      gap: 8px;
      padding: 4px 16px;
      font-size: 18px;
      line-height: 28px;
    }
  }

  .light-button {
    @apply default-button-style;
    background-color: theme('colors.white');
    color: theme('colors.gray-dark');
  }

  .light-button:hover {
    background-color: theme('colors.white-hover');
  }

  .dark-button {
    @apply default-button-style;
    background-color: theme('colors.gray-dark');
    color: theme('colors.white');
    border: 1.8px solid theme('colors.white');
  }

  /* end of button styles */

  /* song items style */
  .song-image {
    height: 36px;
    width: 36px;

    @screen md {
      height: 42px;
      width: 42px;
    }
  }

  /* end of song items */
}

@layer utilities {

  /* song items style */
  .song-title {
    color: theme('colors.white');
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;


    @screen md {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .song-list {
    color: theme('colors.gray');
    font-size: 16px;
    line-height: 24px;

    @screen md {
      font-size: 18px;
      line-height: 28px;
    }
  }

  /* end of song items style */
}