.top-songs {
  padding: 15px;
  border-radius: 6px;
  background-color: var(--dark-bg);
}

.top-songs .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-songs .header h4 {
  cursor: pointer;
}

.top-songs .top-songs-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.top-songs .top-songs-list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.top-songs .top-songs-list .item img {
  height: 50px;
}

.top-songs .top-songs-list .info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.top-songs .top-songs-list .info .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
}

.top-songs .top-songs-list .detail .title-and-artist {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.top-songs .top-songs-list .info .title,
.top-songs .top-songs-list .info .artist-name,
.top-songs .top-songs-list .item img {
  cursor: pointer;
}

.top-songs .top-songs-list .info .artist-name:hover {
  text-decoration: underline;
}

.top-songs .top-songs-list .item .action {
  display: flex;
  align-items: center;
  gap: 35px;
}



.top-songs .top-songs-list .item .action .play-button,
.top-songs .top-songs-list .item .action .stop-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--light);
  height: 32px;
  width: 32px;
  border-radius: 50px;
}

.top-songs .top-songs-list .item .action .icon {
  color: var(--main-color);
  font-size: 12px;
  text-align: center;
}

.top-songs .top-songs-list .item .action .plus-button,
.top-songs .top-songs-list .item .action .check-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--light);
  width: 14px;
  height: 14px;
  border-radius: 4px;
}

.top-songs .top-songs-list .item .action .check-button {
  background-color: var(--main-color);
}

.top-songs .top-songs-list .item .action .plus-button .icon,
.top-songs .top-songs-list .item .action .check-button .icon {
  color: var(--darker-bg);
  font-size: 10px;
}