.topSong {
  padding: 15px;
  border-radius: 6px;
  background-color: var(--dark-bg);
}

.topSong .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topSong .header h4 {
  cursor: pointer;
}

.topSong .songList {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.topSong .songList .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.topSong .songList .item img {
  height: 50px;
}

.topSong .songList .info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.topSong .songList .info .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
}

.topSong .songList .detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.topSong .songList .info .title,
.topSong .songList .info .artist {
  cursor: pointer;
}

.topSong .songList .item .action {
  display: flex;
  align-items: center;
  gap: 35px;
}



.topSong .songList .item .action .buttonPlay,
.topSong .songList .item .action .buttonStop {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--light);
  height: 32px;
  width: 32px;
  border-radius: 50px;
}

.topSong .songList .item .action .icon {
  color: var(--main-color);
  font-size: 12px;
  text-align: center;
}

.topSong .songList .item .action .buttonPlus,
.topSong .songList .item.action .buttonCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--light);
  width: 14px;
  height: 14px;
  border-radius: 4px;
}

.topSong .songList .item .action .buttonCheck {
  background-color: var(--main-color);
}

.topSong .songList .item .action .buttonPlus .icon,
.topSong .songList .item.action .buttonCheck .icon {
  color: var(--darker-bg);
  font-size: 10px;
}