.top-songs {
  padding: 15px 0;
  border-radius: 6px;
  background-color: var(--dark-bg);
  width: 100%;
}

.top-songs .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 15px;
}

.top-songs .header h4 {
  cursor: pointer;
}

.top-songs .top-songs-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.top-songs .song-list .item {
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color 0.15s ease-in-out;
  padding: 8px 0;
}

.top-songs .song-list .item h4 {
  font-size: 15px;
}

.top-songs .song-list .item:hover {
  background-color: var(--dark-bg-hover);
}

.top-songs .song-list .item .number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: 40px;
  color: var(--light);
}

.top-songs .song-list .item .song-img {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 57px;
  height: 42px;
}

.top-songs .song-list .item .song-img img {
  height: 42px;
  width: 42px;
}

.top-songs .song-list .item .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 40px;
  width: 42px;
  height: 42px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.top-songs .song-list .item:hover .play-button {
  opacity: 1;
  cursor: pointer;
}

.top-songs .song-list .item .pause-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 40px;
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.top-songs .song-list .item .pause-button:hover {
  cursor: pointer;
}

.top-songs .song-list .item .song-title {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 300px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 16px;
}

.top-songs .song-list .item .artist-name {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 260px;
  padding-right: 10px;
  color: var(--light);
  font-size: 16px;
}

.top-songs .song-list .item .played-count {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 200px;
  padding-right: 10px;
  color: var(--light);
  font-size: 16px;
}

.top-songs .song-list .item .album-name {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 200px;
  padding-right: 10px;
  color: var(--light);
  font-size: 16px;
}

.top-songs .song-list .item .artist-name:hover,
.top-songs .song-list .item .album-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.top-songs .song-list .item .duration {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-shrink: 0;
  flex-basis: 100px;
  margin-right: 20px;
  color: var(--light);
  font-size: 16px;
}

.top-songs .song-list .see-more {
  display: flex;
  width: fit-content;
  margin-top: 12px;
  margin-left: 6px;
}

.top-songs .song-list .see-more h4 {
  font-weight: bold;
  cursor: pointer;
}

.top-songs .song-list .see-more:hover h4 {
  text-decoration: underline;
}

@media screen and (max-width: 1480px) {
  .top-songs .song-list .item .artist-name {
    flex-shrink: 0;
  }

  .top-songs .song-list .item .artist-name,
  .top-songs .song-list .item .played-count,
  .top-songs .song-list .item .album-name {
    flex-shrink: 1;
  }
}

@media screen and (max-width: 1366px) {
  .top-songs .song-list .item .song-img {
    flex-basis: 52px;
    height: 40px;
  }

  .top-songs .song-list .item .song-img img {
    width: 37px;
    height: 37px;
  }

  .top-songs .song-list .item .pause-button,
  .top-songs .song-list .item .play-button {
    width: 37px;
    height: 37px;
  }

  .top-songs .song-list .item .song-title,
  .top-songs .song-list .item .artist-name,
  .top-songs .song-list .item .played-count,
  .top-songs .song-list .item .album-name,
  .top-songs .song-list .item .duration {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .top-songs .song-list .item .song-title {
    flex-basis: 280px;
  }

  .top-songs .song-list .item .played-count {
    flex-basis: 0;
    display: none;
  }
}

@media screen and (max-width: 976px) {

  .top-songs .song-list .item .duration {
    flex-basis: 0;
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .top-songs .header {
    margin-bottom: 15px;
  }

  .top-songs .header h2 {
    font-size: 18px;
  }

  .top-songs .header h4 {
    font-size: 12px;
  }

  .top-songs .song-list .item .number {
    flex-basis: 0;
    display: none;
  }

  .top-songs .song-list .item .song-img {
    flex-basis: 47px;
    height: 35px;
    margin-left: 15px;
  }

  .top-songs .song-list .item .song-img img {
    width: 32px;
    height: 32px;
  }

  .top-songs .song-list .item .pause-button,
  .top-songs .song-list .item .play-button {
    width: 32px;
    height: 32px;
    left: 15px;
  }

  .top-songs .song-list .item .pause-button .icon,
  .top-songs .song-list .item .play-button .icon {
    font-size: 14px;
  }

  .top-songs .song-list .item .song-title,
  .top-songs .song-list .item .artist-name,
  .top-songs .song-list .item .played-count,
  .top-songs .song-list .item .album-name,
  .top-songs .song-list .item .duration {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .top-songs .song-list .item .song-title {
    flex-shrink: 1;
  }
}

@media screen and (max-width: 640px) {
  .top-songs .song-list .item .song-title {
    font-size: 10px;
  }
}