.top-album {
  padding: 15px;
  border-radius: 6px;
  background-color: var(--dark-bg);
  margin-bottom: 16px;
  /* max-width: 860px; */
  height: 295px;
}

.top-album .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.top-album .header h4 {
  cursor: pointer;
}

.top-album .album-list {
  display: flex;
  overflow: hidden;
}

.top-album:hover .album-list {
  overflow-x: scroll;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 50px;
}

.top-album .album-list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 8px;
  margin-bottom: 10px;
  transition: background-color 0.15s ease-in-out;
}

.top-album .album-list .item:hover {
  background-color: var(--dark-bg-hover);

}

.top-album .album-list .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}


.top-album .album-list .item .album-img {
  display: flex;
  align-items: center;
  height: 148px;
  width: 148px;
  margin-bottom: 10px;
  position: relative;
}

.top-album .album-list .item .album-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.top-album .album-list .item .album-img .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 25, 32, 0.7);
  height: 45px;
  width: 45px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: -10px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

.top-album .album-list .item .album-img .play-button .icon {
  transition: all 0.3s ease;
}

.top-album .album-list .item:hover .album-img .play-button {
  opacity: 1;
  bottom: 10px;
}

.top-album .album-list .item .album-img .play-button:hover {
  background-color: rgba(25, 25, 32, 1);
  transform: scale(1.12);
}

.top-album .album-list .item .album-img .play-button:hover .icon {
  transform: scale(1.12);
}

.top-album .album-list .item .info .album-name {
  display: flex;
  align-items: center;
  height: 20px;
}

.top-album .album-list .item .info .artist-name {
  display: flex;
  align-items: center;
  height: 14px;
}

.top-album .album-list .item .info .artist-name:hover {
  text-decoration: underline;
}

.top-album .album-list .item .info .album-name {
  text-align: center;
}

.top-album .album-list img,
.top-album .album-list .item .info .album-name,
.top-album .album-list .item .info .artist-name {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .top-album .album-list .item .album-img {
    height: 144px;
    width: 144px;
  }

  .top-album .album-list .item .info .album-name {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .top-album {
    height: 290px;
  }

  .top-album .album-list .item .album-img {
    height: 140px;
    width: 140px;
  }

  .top-album .album-list .item .info .album-name {
    font-size: 14px;
  }

  .top-album .album-list .item .info .artist-name {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  .top-album .header h2 {
    font-size: 18px;
  }

  .top-album .header h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .top-album {
    height: 240px;
  }

  .top-album .album-list .item .album-img {
    height: 100px;
    width: 100px;
  }

  .top-album .album-list .item .info .album-name {
    font-size: 13px;
    height: 18px;
  }

  .top-album .album-list .item .info .artist-name {
    font-size: 12px;
  }
}