.topAlbum {
  padding: 15px;
  border-radius: 6px;
  background-color: var(--dark-bg);
  margin-bottom: 16px;
  max-width: 860px;
  height: 295px;
}

.topAlbum .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.topAlbum .header h4 {
  cursor: pointer;
}

.topAlbum .albumList {
  display: flex;
  overflow: hidden;
}

.topAlbum:hover .albumList {
  overflow-x: scroll;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 50px;
}

.topAlbum .albumList .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  padding: 8px;
  margin-bottom: 10px;
  transition: background-color 0.15s ease-in-out;
}

.topAlbum .albumList .item:hover {
  background-color: var(--dark-bg-hover);

}

.topAlbum .albumList .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}


.topAlbum .albumList .item .albumImg {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.topAlbum .albumList .item .albumImg img {
  height: 148px;
  width: 148px;
  object-fit: cover;
}

.topAlbum .albumList .item .info .albumName {
  display: flex;
  align-items: center;
  height: 20px;
}

.topAlbum .albumList .item .info .artistName {
  display: flex;
  align-items: center;
  height: 14px;
}

.topAlbum .albumList .item .info .artistName:hover {
  text-decoration: underline;
}

.topAlbum .albumList .item .info .albumName {
  text-align: center;
}

.topAlbum .albumList img,
.topAlbum .albumList .item .info .albumName,
.topAlbum .albumList .item .info .artistName {
  cursor: pointer;
}