.top-artist {
  padding: 15px 15px 10px 15px;
  border-radius: 6px;
  background-color: var(--dark-bg);
  margin-bottom: 16px;
  max-width: 860px;
  height: 295px;
}

.top-artist .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.top-artist .header h4 {
  cursor: pointer;
}

.top-artist .artist-list {
  display: flex;
  overflow: hidden;
}

.top-artist:hover .artist-list {
  overflow-x: scroll;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 50px;
}

.top-artist .artist-list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  padding: 8px;
  margin-bottom: 10px;
  transition: background-color 0.15s ease-in-out;
}

.top-artist .artist-list .item:hover {
  background-color: var(--dark-bg-hover);

}

.top-artist .artist-list .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}


.top-artist .artist-list .item .artist-img {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.top-artist .artist-list .item .artist-img img {
  height: 148px;
  width: 148px;
  border-radius: 75px;
  object-fit: cover;
}

.top-artist .artist-list .item .info .artist-name {
  display: flex;
  align-items: center;
  height: 20px;
}

.top-artist .artist-list .item .info .country {
  display: flex;
  align-items: center;
  height: 14px;
}

.top-artist .artist-list .item .info .artist-name {
  text-align: center;
}

.top-artist .artist-list img,
.top-artist .artist-list .item .info .artist-name,
.top-artist .artist-list .item .info .country {
  cursor: pointer;
}