.topSong {
  padding: 15px;
  border-radius: 6px;
  background-color: var(--dark-bg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.songList {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title,
.artist {
  cursor: pointer;
}

.action {
  display: flex;
  align-items: center;
  gap: 35px;
}

.item img {
  height: 50px;
}

.action .buttonPlay,
.action .buttonStop {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--light);
  height: 32px;
  width: 32px;
  border-radius: 50px;
}

.action .icon {
  color: var(--main-color);
  font-size: 12px;
  text-align: center;
}

.action .buttonStop .icon {
  font-size: 11px;
}

.action .buttonPlus,
.action .buttonCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--light);
  width: 14px;
  height: 14px;
  border-radius: 4px;
}

.action .buttonCheck {
  background-color: var(--main-color);
}

.action .buttonPlus .icon,
.action .buttonCheck .icon {
  color: var(--darker-bg);
  font-size: 10px;
}