.album-songs {
  height: 100%;
  overflow: hidden;
  padding-bottom: 75px;
}

.album-songs .album-songs-child {
  padding: 10px 20px;
  margin-left: 245px;
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .album-songs .album-songs-child {
    margin-left: 200px;
  }
}

@media screen and (max-width: 900px) {
  .album-songs .album-songs-child {
    margin-left: 150px;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .album-songs .album-songs-child {
    margin-left: 80px;
  }
}