.home-page {
  width: 100%;
  overflow: hidden;
  padding-bottom: 75px;
  box-sizing: border-box;
}

.home-page .home-page-child {
  display: flex;
  padding: 8px 16px;
  margin-left: 245px;
  margin-top: 60px;
}

@media screen and (max-width: 1024px) {
  .home-page .home-page-child {
    margin-left: 200px;
  }
}

@media screen and (max-width: 900px) {
  .home-page .home-page-child {
    margin-left: 150px;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .home-page .home-page-child {
    margin-left: 80px;
  }
}