.home {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.container {
  height: 100%;
  padding-bottom: 75px;
}

.mainPage {
  height: 100%;
  overflow: hidden;
  display: grid;
}

.mainContent {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px 20px;
  margin-left: 16%;
  margin-top: 80px;
}