.all-songs-from-album {
  padding: 15px;
  background-color: var(--dark-bg);
  margin-bottom: 16px;
  max-width: 100%;
}

.all-songs-from-album hr {
  border-color: rgb(64, 64, 64);
}

.all-songs-from-album .album-container {
  padding: 15px 10px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.all-songs-from-album .album-container .img-container {
  width: 230px;
  height: 230px;
  border-radius: 12px;
  overflow: hidden;
}

.all-songs-from-album .album-container .img-container img {
  width: 100%;
  height: 100%;
}

.all-songs-from-album .album-container .album-info {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.all-songs-from-album .album-container .album-info .album-name {
  height: 72px;
  width: 600px;
  line-height: 36px;
  font-size: 32px;
}

.all-songs-from-album .album-container .album-info .more-album-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.all-songs-from-album .album-container .album-info .more-album-details .album-and-artist-details,
.all-songs-from-album .album-container .album-info .more-album-details .total-songs-and-duration {
  font-size: 16px;
}

.all-songs-from-album .album-container .buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.all-songs-from-album .album-container .buttons .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: #fff;
  color: var(--dark-bg);
  border-radius: 50px;
  gap: 8px;
}

.all-songs-from-album .album-container .buttons .shuffle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: #fff;
  color: var(--dark-bg);
  border-radius: 50px;
  gap: 8px;
}

.all-songs-from-album .album-container .buttons .play-button:hover,
.all-songs-from-album .album-container .buttons .shuffle-button:hover {
  cursor: pointer;
}

.all-songs-from-album .song-list {
  margin-top: 20px;
  width: 100%;
}

.all-songs-from-album .song-list .item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color 0.15s ease-in-out;
  padding: 0 20px;
  height: 55px;
}

.all-songs-from-album .song-list .item h4 {
  font-size: 15px;
}

.all-songs-from-album .song-list .item:hover {
  background-color: var(--dark-bg-hover);
}

.all-songs-from-album .song-list .item .song-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.all-songs-from-album .song-list .item .song-info .artist-album-info {
  display: flex;
  gap: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all-songs-from-album .song-list .item .play-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 10px;
  width: 30px;
  height: 30px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.all-songs-from-album .song-list .item:hover .play-button {
  opacity: 1;
  cursor: pointer;
}

.all-songs-from-album .song-list .item:hover .number {
  opacity: 0;
}

.all-songs-from-album .song-list .item .pause-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.all-songs-from-album .song-list .item .number {
  width: 30px;
}

.all-songs-from-album .song-list .item .song-title {
  display: flex;
  align-items: center;
  padding-right: 10px;
  min-width: 500px;
  flex-grow: 1;
}

.all-songs-from-album .song-list .item .artist-name {
  display: flex;
  align-items: center;
  padding-right: 10px;
  min-width: 250px;
}

.all-songs-from-album .song-list .item .played-count {
  display: flex;
  align-items: center;
  padding-right: 10px;
  min-width: 250px;
}

.all-songs-from-album .song-list .item .duration {
  display: flex;
  align-items: center;
  padding-right: 10px;
  min-width: 100px;
}

.all-songs-from-album .song-list .see-more {
  display: flex;
  width: fit-content;
  margin-top: 12px;
  margin-left: 6px;
}

.all-songs-from-album .song-list .see-more h4 {
  font-weight: bold;
  cursor: pointer;
}

.all-songs-from-album .song-list .see-more:hover h4 {
  text-decoration: underline;
}