.all-songs-from-album {
  padding: 15px;
  background-color: var(--dark-bg);
  margin-bottom: 16px;
  max-width: 100%;
}

.all-songs-from-album hr {
  border-color: rgb(64, 64, 64);
}

.all-songs-from-album .album-container {
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.all-songs-from-album .album-container .img-container {
  display: flex;
  flex-shrink: 0;
  width: 230px;
  height: 230px;
  border-radius: 12px;
  overflow: hidden;
}

.all-songs-from-album .album-container .img-container img {
  width: 100%;
  height: 100%;
}

.all-songs-from-album .album-container .album-info {
  width: fit-content;
  display: flex;
  flex-basis: 200px;
  flex-grow: 1;
  flex-direction: column;
  gap: 26px;
}

.all-songs-from-album .album-container .album-info .album-name {
  height: 72px;
  display: flex;
  flex-grow: 1;
  line-height: 36px;
  font-size: 32px;
}

.all-songs-from-album .album-container .album-info .more-album-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.all-songs-from-album .album-container .album-info .more-album-details .album-and-artist-details,
.all-songs-from-album .album-container .album-info .more-album-details .total-songs-and-duration {
  font-size: 16px;
}

.all-songs-from-album .album-container .buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.all-songs-from-album .album-container .buttons .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: #fff;
  color: var(--dark-bg);
  border-radius: 50px;
  gap: 8px;
}

.all-songs-from-album .album-container .buttons .shuffle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: #fff;
  color: var(--dark-bg);
  border-radius: 50px;
  gap: 8px;
}

.all-songs-from-album .album-container .buttons .play-button:hover,
.all-songs-from-album .album-container .buttons .shuffle-button:hover {
  cursor: pointer;
}

.all-songs-from-album .song-list {
  margin-top: 20px;
  width: 100%;
}

.all-songs-from-album .song-list .item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color 0.15s ease-in-out;
  padding: 0 20px;
  height: 55px;
}

.all-songs-from-album .song-list .item h4 {
  font-size: 15px;
}

.all-songs-from-album .song-list .item:hover {
  background-color: var(--dark-bg-hover);
}

.all-songs-from-album .song-list .item .play-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 10px;
  width: 30px;
  height: 30px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.all-songs-from-album .song-list .item:hover .play-button {
  opacity: 1;
  cursor: pointer;
}

.all-songs-from-album .song-list .item:hover .number {
  opacity: 0;
}

.all-songs-from-album .song-list .item .pause-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.all-songs-from-album .song-list .item .number {
  display: flex;
  flex-shrink: 0;
  flex-basis: 30px;
}

.all-songs-from-album .song-list .item .song-title {
  display: flex;
  align-items: center;
  padding-right: 10px;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}

.all-songs-from-album .song-list .item .artist-name {
  display: flex;
  align-items: center;
  padding-right: 10px;
  flex-basis: 300px;
}

.all-songs-from-album .song-list .item .played-count {
  display: flex;
  align-items: center;
  padding-right: 10px;
  flex-basis: 250px;
}

.all-songs-from-album .song-list .item .duration {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  flex-basis: 100px;
}

.all-songs-from-album .song-list .see-more {
  display: flex;
  width: fit-content;
  margin-top: 12px;
  margin-left: 6px;
}

.all-songs-from-album .song-list .see-more h4 {
  font-weight: bold;
  cursor: pointer;
}

.all-songs-from-album .song-list .see-more:hover h4 {
  text-decoration: underline;
}

@media screen and (max-width: 1366px) {
  .all-songs-from-album .song-list .item .song-title {
    flex-shrink: 0;
  }

  .all-songs-from-album .song-list .item .artist-name,
  .all-songs-from-album .song-list .item .played-count,
  .all-songs-from-album .song-list .item .duration {
    flex-shrink: 1;
  }
}

@media screen and (max-width: 1024px) {
  .all-songs-from-album .album-container .album-info .album-name {
    font-size: 28px;
  }

  .all-songs-from-album .album-container .buttons .play-button,
  .all-songs-from-album .album-container .buttons .shuffle-button {
    padding: 8px 14px;
  }

  .all-songs-from-album .song-list .item .played-count {
    flex-basis: 0;
    display: none;
  }

  .all-songs-from-album .song-list .item .song-title,
  .all-songs-from-album .song-list .item .artist-name,
  .all-songs-from-album .song-list .item .duration {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .all-songs-from-album .album-container .img-container {
    width: 210px;
    height: 210px;
  }

  .all-songs-from-album .album-container .album-info .album-name {
    font-size: 26px;
  }

  .all-songs-from-album .album-container .buttons .play-button,
  .all-songs-from-album .album-container .buttons .shuffle-button {
    padding: 6px 10px;
  }

  .all-songs-from-album .album-container .buttons .play-button .icon,
  .all-songs-from-album .album-container .buttons .shuffle-button .icon {
    font-size: 15px;
  }

  .all-songs-from-album .album-container .album-info .more-album-details .album-and-artist-details,
  .all-songs-from-album .album-container .album-info .more-album-details .total-songs-and-duration {
    font-size: 15px;
  }

  .all-songs-from-album .song-list .item .song-title {
    flex-shrink: 1;
  }

  .all-songs-from-album .song-list .item .artist-name {
    flex-shrink: 2;
  }
}

@media screen and (max-width: 768px) {
  .all-songs-from-album .album-container .img-container {
    width: 200px;
    height: 200px;
  }

  .all-songs-from-album .album-container .album-info .album-name {
    font-size: 24px;
  }

  .all-songs-from-album .album-container .buttons .play-button,
  .all-songs-from-album .album-container .buttons .shuffle-button {
    padding: 4px 8px;
    font-size: 15px;
  }

  .all-songs-from-album .album-container .buttons .play-button .icon,
  .all-songs-from-album .album-container .buttons .shuffle-button .icon {
    font-size: 14px;
  }

  .all-songs-from-album .song-list .item .song-title {
    flex-basis: 250px;
    flex-shrink: 0;
  }

  .all-songs-from-album .song-list .item .artist-name {
    flex-basis: 200px;
    flex-shrink: 0;
  }
}