.artist-about {
  padding: 15px;
  border-radius: 6px;
  background-color: var(--dark-bg);
  margin-bottom: 16px;
  max-width: 100%;
  position: relative;
}

.artist-about .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.artist-about .header h2 {
  font-size: 22px;
}

.artist-about .artist-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.artist-about .artist-image-container:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.artist-about .artist-image-container img {
  width: 100%;
  height: 100%;
}

.artist-about .artist-image-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 6px;
}

.artist-about .artist-image-container .artist-description {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
  line-height: 21px;
}

@media screen and (max-width: 1200px) {
  .artist-about .artist-image-container {
    width: 620px;
    height: 420px;
  }
}

@media screen and (max-width: 900px) {
  .artist-about .header {
    margin-bottom: 10px;
  }

  .artist-about .header h2 {
    font-size: 20px;
  }

  .artist-about .artist-image-container {
    width: 100%;
    height: 350px;
  }

  .artist-about .artist-image-container .artist-description {
    padding: 18px;
    font-size: 14px;
    line-height: 18px;
  }
}