.profile {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
  position: fixed;
  right: 20px;
}

.profile .notification-icon,
.profile .setting-icon {
  display: flex;
  padding: 2px;
  cursor: pointer;
}

.profile .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 8px;
}

.profile .user-info .img-container {
  display: flex;
  padding: 2px;
  height: 30px;
  width: 30px;
}

.profile .user-info img {
  height: 100%;
  width: 100%;
}

.profile .user-info .username {
  white-space: nowrap;
  cursor: pointer;
}

.profile .profile-menu {
  display: flex;
  flex-direction: column;
  padding: 6px;
  position: absolute;
  background-color: var(--dark-bg);
  top: 35px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 4px;
  overflow: hidden;
}

.profile .profile-menu .list {
  padding: 12px 14px;
  border-radius: 4px;
}

.profile .profile-menu .list:hover {
  background-color: rgb(104, 104, 104);
}

.profile .profile-menu hr {
  border-color: rgb(64, 64, 64);
}

@media screen and (max-width: 1024px) {
  .profile {
    gap: 20px;
  }

  .profile .user-info .username {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    gap: 16px;
  }

  .profile .icon {
    font-size: 14px;
  }

  .profile .user-info .img-container {
    height: 26px;
    width: 26px;
  }

  .profile .user-info .username {
    font-size: 13px;
  }

  .profile .profile-menu .list {
    padding: 10px 12px;
    font-size: 14px;
  }
}