@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #1db954;
  --secondary-color: #1ed750;
  --font-color: #ffffff;
  --dark-bg: #18181d;
  --dark-bg-hover: #24242d;
  --darker-bg: #050505;
  --light: #919191;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
  color: var(--light);
}

h5 {
  font-size: 10px;
  color: var(--light);
}

h1,
h2,
h3,
h4,
h5 {
  cursor: default;
}

img {
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
}

html,
body {
  background: linear-gradient(#050505, #18181d);
  height: 100vh;
}

.container {
  width: 100%;
  /* display: grid;
  grid-template-columns: auto 85%; */
  box-sizing: border-box;
  background: linear-gradient(#050505, #18181d);
  color: white;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: var(--dark-bg);
}