.newReleases {
  padding: 15px;
  border-radius: 6px;
  background-color: var(--dark-bg);
  margin-bottom: 16px;
  max-width: 100%;
  height: 290px;
}

.newReleases .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.newReleases .newReleaseList {
  display: flex;
  overflow: hidden;
}

.newReleases:hover .newReleaseList {
  overflow-x: scroll;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 50px;
  cursor: pointer;
}

.newReleases .newReleaseList .item {
  display: flex;
  flex-direction: column;
  height: 210px;
  padding: 8px;
  margin-bottom: 8px;
  transition: background-color 0.15s ease-in-out;
}

.newReleases .newReleaseList .item:hover {
  background-color: var(--dark-bg-hover);
}

.newReleases .newReleaseList .item .info {
  display: flex;
  flex-direction: column;
}


.newReleases .newReleaseList .item .newReleaseImg {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.newReleases .newReleaseList .item .newReleaseImg img {
  height: 148px;
  width: 148px;
  object-fit: cover;
}

.newReleases .newReleaseList .item .info .albumName {
  display: flex;
  align-items: center;
  height: 20px;
}

.newReleases .newReleaseList .item .info .artistName {
  display: flex;
  align-items: center;
  height: 14px;
}

.newReleases .newReleaseList .item .info .albumName {
  text-align: center;
}

.newReleases .newReleaseList img,
.newReleases .newReleaseList .item .info .albumName,
.newReleases .newReleaseList .item .info .artistName {
  cursor: pointer;
}