.trending {
  padding: 25px 0;
}

.trending img {
  height: 200px;
  width: 300px;
}

.trendingSong {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
}

.trending .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trending .info h1 {
  font-size: 48px;
}

.trending .info .artistInfo {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.trending .info .artistInfo h5 {
  color: var(--light);
}

.trending .button {
  display: flex;
  align-items: center;
  gap: 15px;
}

.listen {
  padding: 12px 14px;
  height: 40px;
  border-radius: 14px;
  border: none;
  background-color: var(--main-color);
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.listen:hover {
  opacity: 0.8;
}

.like {
  padding: 12px 14px;
  border-radius: 50px;
  font-size: 20px;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
}

.like .icon {
  color: white;
  font-size: 20px;
}